@{
    ViewData["Title"] = "Home Page";
}
<div id="Banner-Slider">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="~/homeImages/slide-1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="item">
            <img src="~/homeImages/slide-2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="item">
            <img src="~/homeImages/slide-3.jpg" class="d-block w-100" alt="..." />
        </div>
    </div>
</div>
<div class="listContent container mt-4">
    <div class="row">
        <div class="col-4 miniBanner">
            <img src="~/homeImages/banner05.jpg" class="img-thumbnail rounded" />
            <h2>
                <span id="iasd">SHIRTS</span>
            </h2>
        </div>
        <div class="col-4  miniBanner">
            <img src="~/homeImages/banner06.jpg" class="img-thumbnail rounded" />
            <h2><span>WAITSCOATS</span></h2>
        </div>
        <div class="col-4 miniBanner">
            <img src="~/homeImages/banner08.jpg" class="img-thumbnail rounded" />
            <h2><span>BLAZERS</span></h2>
        </div>
    </div>
</div>
<div class="policy-categories mt-4 container" style="background-color: white">
    <div class="row" style=" box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
        <div class="col-lg-3 col-md-6 col-sm-6 policyCate-item ">
            <div>
                <img src="~/homeImages/truck.png" class="d-block mx-auto" />
            </div>
            <div class="text-center">
                <h5>Fast &amp; Free Delivery</h5>
                <p>Free delivery on all orders</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 policyCate-item">
            <div>
                <img src="~/homeImages/credit-card.png" class="d-block mx-auto" />
            </div>
            <div class="text-center">
                <h5>Secure Payment</h5>
                <p>Free delivery on all orders</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 policyCate-item">
            <div>
                <img src="~/homeImages/repayment.png" class="d-block mx-auto" />
            </div>
            <div class="text-center">
                <h5>30 Days replacement</h5>
                <p>Free delivery on all orders</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 policyCate-item">
            <div>
                <img src="~/homeImages/online-chat.png" class="d-block mx-auto" />
            </div>
            <div class="text-center">
                <h5>Online Support</h5>
                <p>Free delivery on all orders</p>
            </div>
        </div>
    </div>
</div>
<div>
    product image Slide Here
</div>
<div class="container mt-4 bg-light" style="overflow:hidden; padding:0px;background-color: white">
    <img src="~/homeImages/tedbaker2020ssclothingbanner.jpg" />
</div>
