<footer class="bg-dark text-white mt-4" style="width:100%">
    <div class="container pt-2" style="height:240px;">
        <div class="row text-white">
            <div class="col-3">
                <h3 class="border-bottom border-white">Men Fashion Shop</h3>
                <p>we give fashion forward men, quick access to the finest, premium-quality, designer clothes for men.</p>
            </div>
            <div class="col-3">
                <h3 class="border-bottom border-white">Explore</h3>
                <ul style="list-style-type: none; padding: 0px;">
                    <li>Home</li>
                    <li>Products</li>
                    <li>Categories</li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="border-bottom border-white">Support</h3>
                <ul style="list-style-type: none; padding: 0px;">
                    <li>Privacy Policy</li>
                    <li>ProductT Return Policy</li>
                    <li>Warranty Provisions</li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="border-bottom border-white">Contact with us</h3>
                <div class="row">
                    <div class="col-6">
                        <img src="~/homeImages/facebook.png"> Facebook
                    </div>
                    <div class="col-6">
                        <img src="~/homeImages/3721672-instagram_108066.png"> Instagram
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="~/homeImages/twitter.png"> Tweeter
                    </div>
                    <div class="col-6">
                        <img src="~/homeImages/youtube.png"> Youtube
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top footer bg-light text-muted">
        <div class="container">
            &copy; 2021 - eCommShop.CustomerSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>
</footer>

