<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommShopVer2.CustomerSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/customPage.css" />
    <link rel="stylesheet" href="~/css/owlCarouselCss/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owlCarouselCss/owl.theme.default.css">
</head>
<body>
    <partial name="_HeaderPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/owlCarouselJs/owl.carousel.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/OwlCarouselSetting.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
