<div>
    @if (User.Identity.IsAuthenticated)
    {
        @*<li class="nav-item">
                <span class="navbar-text text-dark">Hello <a class="text-dark" asp-controller="Account" asp-action="MyProfile"></a>!</span>
            </li>*@

            <p class="d-inline"> Hello! @User.Identity.Name</p>
            <a class="d-inline text-dark pl-1" asp-controller="Account" asp-action="SignOut"><i class="fas fa-sign-in-alt"></i> Logout</a>

    }
    else
    {
        <a class="d-inline text-dark" asp-controller="Account" asp-action="SignIn"><i class="fas fa-sign-in-alt"></i> Login</a>
        <a class="d-inline text-dark pl-1" asp-controller="Account" asp-action="SignIn"><i class="fas fa-sign-in-alt"></i> Register</a>
    }
</div>
